extends layout

block content
  link(rel='stylesheet', href='/stylesheets/gameClient.css')
  //- images for the players
  img(hidden id="stickman" width="80" height="100" src="/images/stickman.png" alt="Stickman")
  img(hidden id="rock" width="80" height="100" src="/images/rock.png" alt="rock")
  img(hidden id="paper" width="80" height="100" src="/images/paper.png" alt="paper")
  img(hidden id="scizzors" width="80" height="100" src="/images/scizzors.png" alt="scizzors")
  img(hidden id="question" width="80" height="100" src="/images/question.png" alt="question")
  audio(hidden muted id="song" src="/sounds/roshambanger.wav" type="audio/wav")
  script(src="/socket.io/socket.io.js")
    var socket = io();
  //- Modal for entering your name
  .modal.fade(id="nameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          h5.modal-title Please enter a name:
          button(type="button" class="close" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          label(for="recipient-name" class="col-form-label") Name:
          input(id="nameInput" type="text" class="form-control")
        .modal-footer
          button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
          button(id="nameBtn" type="button" class="btn btn-primary" data-dismiss="modal") Submit
  //- Modal for mobile controls
  .modal.fade(id="keyboardModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
    .modal-dialog(role="document" id="keyboardModalDialog")
      .modal-content
        .modal-header
          button(type="button" class="close" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          table(id="keyboardTable" style="margin-left:auto;margin-right:auto;")
            tbody
              tr
                th
                  .d-flex.justify-content-center.noselect
                    button(id="upLeftKey").btn.btn-secondary.btn-lg ↖
                th
                  .d-flex.justify-content-center.noselect
                    button(id="upKey").btn.btn-secondary.btn-lg ↑
                th
                  .d-flex.justify-content-center.noselect
                    button(id="upRightKey").btn.btn-secondary.btn-lg ↗
              tr
                th
                  .d-flex.justify-content-center.noselect
                    button(id="leftKey").btn.btn-secondary.btn-lg ←
                th
                  .d-flex.justify-content-center.noselect
                    button.btn.btn-secondary.btn-lg ☼
                th
                  .d-flex.justify-content-center.noselect
                    button(id="rightKey").btn.btn-secondary.btn-lg →
              tr
                th
                  .d-flex.justify-content-center.noselect
                    button(id="downLeftKey").btn.btn-secondary.btn-lg ↙
                th
                  .d-flex.justify-content-center.noselect
                    button(id="downKey").btn.btn-secondary.btn-lg ↓
                th
                  .d-flex.justify-content-center.noselect
                    button(id="downRightKey").btn.btn-secondary.btn-lg ↘
  table(id="content" style="margin-left:auto;margin-right:auto;")
    tbody
      tr
        th
        th
          .d-flex.justify-content-center
            h1(id="title").text-center RoshamIO
        th
      tr
        th
          .card(style="height:600px")
            .card-header
              h3.text-center Leaderboard
            .card-body
              ol(id="leaderboard")
        th
          canvas(id="canvas")
        th
          .card(style="")
            .card-header
              h3.text-center Chat
            .card-body.d-flex.flex-column.mt-auto
              ul(id="chat" style="height:490px;overflow-y:auto;").list-group
              .input-group.mb-3
                input(id="chatInput" type="text" class="form-control" style="width:100px; min-width:38%; max-width:100%;")
                .input-group-append
                  button(id="chatSubmit" type="button" class="btn btn-outline") Send
      tr
        th
          .justify-content-center
            .card
              button(id="keyboard" type="button" class="btn btn-secondary").text-center Mobile Keyboard
        th
          .justify-content-center 
            .card
              button(type="button" class="btn btn-primary" data-toggle="modal" data-target="#nameModal") Start as a new character
        th
  script(src="/javascripts/clientGame.js")