canvas {
  margin-right: auto;
  margin-left: auto;
  width: 800px;
  border: 5px solid black;
}

#title {
  font-family: "Georgia", serif;
}

#keyboardModalDialog {
  position: fixed;
  margin: 0;
  padding: 10px;
}

#keyboardModal {
  position: relative;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}